$primary_dark: #333;
$secondary_dark: #333333cc;
$gray: #7f7f7f;
$dark_gray: #464646;
$breakpoint-tablet: 768px;

$font_1: "Poppins";
$font_1_semibold: "Poppins SemiBold";
$font_1_bold: "Poppins Bold";

$font_2: "SF-Pro";
$font_2_semibold: "SF-Pro SemiBold";
$font_2_bold: "SF-Pro Bold";

$font_3: "Garamond";
$font_3_bold: "Garamond-Bold";

// $font_4: "Charmonman";
$font_4: "DancingScript-Regular";
$font_4_bold: "Charmonman-Bold";

@font-face {
  font-family: "SF-Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/SFProText-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SF-Pro SemiBold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("~assets/fonts/SFProText-Semibold.ttf") format("truetype");
}
/* sf pro bold */
@font-face {
  font-family: "SF-Pro Bold";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("~assets/fonts/SFProText-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins SemiBold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("~assets/fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("~assets/fonts/Poppins-Bold.ttf") format("truetype");
}

/* garamond */
@font-face {
  font-family: "Garamond";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/Garamond/EBGaramond-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Garamond-Bold";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("~assets/fonts/Garamond/EBGaramond-Bold.ttf") format("truetype");
}

/* charmonman */
@font-face {
  font-family: "Charmonman";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/Charmonman/Charmonman-Regular.ttf") format("truetype");
}

/* dancing script */
@font-face {
  font-family: "DancingScript-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/DancingScript-Regular.ttf") format("truetype");
}



body {
  margin: 0 !important;
  padding: 0;
}

* {
  font-family: $font_1;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

.pad-10 {
  padding: 6%;
}

button {
  cursor: pointer;
  border: none;
  padding: 1% 3%;

  .icon {
    width: 7%;
  }

  &.action {
    background-color: $primary_dark;
    color: white;
    font-family: $font_1_semibold;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    @media (max-width: $breakpoint-tablet) {
      padding: 2% 5%;
      width: 100%;
    }

    &.delete {
      background-color: rgb(157, 36, 36);
      font-size: 10px;

      &:hover {
        background-color: rgb(224, 16, 16);
      }
    }
  }

  &.clear {
    background: transparent;
    padding: 2% 5%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
  color: $primary_dark;
}

.page {
  padding: 5%;
  margin-top: 8vh;

  @media (max-width: $breakpoint-tablet) {
    padding: 7%;
    margin-top: 10vh;
  }

  &.-wh {
    padding: 0 0 5% 0;
  }

  &.side-pad {
    padding: 2%;
  }

  &.-broad {
    @media (max-width: $breakpoint-tablet) {
      padding: 2%;
    }
  }

  .page-header {
    // background: $primary_dark;
    width: 100%;
    height: 8vh;
    margin-bottom: 20px;

    @media (max-width: $breakpoint-tablet) {
      height: 10vw;
    }

    .title {
      color: $primary_dark;
      font-family: $font_2_semibold;
      text-transform: uppercase;
      font-size: 1.4vw;
      @media (max-width: $breakpoint-tablet) {
        font-size: 5.4vw;
      }
    }
  }

  .side-pad {
    padding: 0% 5%;

    @media (max-width: $breakpoint-tablet) {
      padding: 0 10%;
    }
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-space {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // position: absolute;
  // bottom:0;
  // left:0;
}

.contents {
  position: relative;
}

.white {
  color: white;
}

.scrollable-list {
  display: flex;
  overflow-x: auto;
  padding: 5px;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .list {
    display: flex;
    width: fit-content;
  }
}

.shadow {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.16);
}
.action-complete {
  margin-top: 10px;
  width: 50px;
}
*::-webkit-scrollbar {
  display: none;
}
p {
  &.msg {
    color: white;
    font-size: 10px;
    width: fit-content;
    padding: 5px;
    border-radius: 4px;
    margin: 10px 0;
    &.error {
      background-color: #a93737;
    }

    &.success {
      background-color: #319a67;
    }
  }
}
